:root{
     --text: white;
     --btn: rgb(6, 125, 204); 
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     /* border: 1px solid red; */
     height: 100vh;
}

.container{
     width: 450px;
     border: 1px solid black;
     height: 90vh;
}

header{
     border: 1px solid red;
     display: flex;
     flex-direction: column;
     align-items: center;
}

header img{
     width: 80px;
     height: auto;
}

main{
     border: 1px solid greenyellow;
}

input[type=submit]
{
     background-color: var(--btn);
     color: var(--text);
     padding: 10px;
     width: 300px;
     border-radius: 20px;
     border: none;
     

}

input[type=submit]:hover
{
     cursor: pointer;
}